Bug: TLS padding for rtp media for srtp needed 

rtpengine is sending 

inline:PviLGhOfPiWiJUO84A01z2mzWziP4p/E6kUVYFzN9HoqgnXGm63WX6jyhJk

is 59 characters it should be 60 characters 
https://datatracker.ietf.org/doc/html/rfc3548#section-3

per rtpengine docs:
```
RFC 4568 (section 6.1) is somewhat ambiguous regarding the base64 encoding format of a=crypto 
parameters added to an SDP body. The default interpretation is that trailing = characters used 
for padding should be omitted. With this flag set, these padding characters will be left in place.
```

We could add an env var to let you override the rtpengine defaults, but you should be advised you may then have other clients complaining about the opposite

Can we have this setting at carrier for each gateway ?

On Mon, Sep 9, 2024, 2:44 AM Dave Horton ***@***.***> wrote:

> per rtpengine docs:
>
> RFC 4568 (section 6.1) is somewhat ambiguous regarding the base64 encoding format of a=crypto
> parameters added to an SDP body. The default interpretation is that trailing = characters used
> for padding should be omitted. With this flag set, these padding characters will be left in place.
>
> We could add an env var to let you override the rtpengine defaults, but
> you should be advised you may then have other clients complaining about the
> opposite
>
> —
> Reply to this email directly, view it on GitHub
> <https://github.com/jambonz/sbc-inbound/issues/159#issuecomment-2336826139>,
> or unsubscribe
> <https://github.com/notifications/unsubscribe-auth/AAJJ3KP6IMKEFHDXTS5IZYLZVS42BAVCNFSM6AAAAABN25CTP2VHI2DSMVQWIX3LMV43OSLTON2WKQ3PNVWWK3TUHMZDGMZWHAZDMMJTHE>
> .
> You are receiving this because you authored the thread.Message ID:
> ***@***.***>
>


Created 2 new PRs for allow pad crypto on sip gateway level and both inbound and outbound shoud use same pad_crypto flag

@xquanluu @davehorton this can be merged i have tested 